<!--
  Copyright (c) 2020-2021 aetheryx & Cynthia K. Rey
  This work is licensed under a Creative Commons Attribution-NoDerivatives 4.0 International License.
  https://creativecommons.org/licenses/by-nd/4.0
-->

# Get verified
The Powercord Verification Program rewards plugin and theme developers for being part of what makes the Powercord
ecosystem what it is today, by making outstanding works and keeping them up to date. Verified works have a very
nice verified checkmark next to their name, as well as a dedicated category.

## Requirements
We want the verified checkmark to be a sign of quality. That's why for verified works we have an additional set of
requirements your product must abide by to get the ultimate sign of quality. Please note that the list is not
exhaustive and we may at our sole discretion reject works in line with what's below.

 - Be unique, and recognizable

Small tweaks are sometime worth a plugin or a theme, but it'll not be enough for the Verified icon. Your addition
must be sufficiently significant and unique, it must be something that stands out of the crowd.

 - Follow the [best practices](https://powercord.dev/docs/advanced-plugins/best-practices)

The best practices are a collection of methods and concepts that will make your plugin feel smoother, more natural,
and which helps keeping it speedy and lightweight for everyone. They also provide ways to keep your code clean and
robust.

 - Be updated, with prosperity in mind

Plugins and themes aren't ephemeral, they can live on for years after their original release. We want verified works
to illustrate this vision and to live as long as possible. Works needs love and care. When it breaks, you should be
nearby to pat it and fix it.

 - Be nice, as a developer

Verified developers must be an example for the community, and can be a precious source of knowledge for beginners.
Developers who are found to violate the rules and/or the guidelines, to be hostile and to promote any form of hate will
be excluded from the Verification Program.

As an additional note, while each work has to be verified individually, we expect the developers to be irreproachable
as well. We won't verify works by developers who are found to distribute works in violation of our guidelines on the
side, or who have an history of hateful conduct.

## Staying verified
The verified badge isn't just a cosmetic perk. It's a commitment, in keeping the Powercord ecosystem amazing and
friendly for everyone. If you fail to meet our expectations after being verified, we may have to take the difficult
decision to remove the verified badge.
